[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pathspec = "==0.5.9"
pipenv-to-requirements = "*"
awsebcli = "*"

[packages]
django = "==2.2.5"
pillow = "*"
django-countries = "*"
django-seed = "*"
django-dotenv = "*"
requests = "*"
sentry-sdk = "==0.14.1"
django-storages = "*"
boto3 = "*"

[requires]
python_version = "3.7"
