container_commands:
  01_migrate:
    command: "django-admin migrate"
    leader_only: true
  02_compilemessages:
    command: "django-admin compilemessages"
  03_createsu:
    command: "django-admin createsu"
  04_collectstatic:
    command: "django-admin collectstatic --noinput"
  05_seed_users:
    command: "django-admin seed_users --number 300"
  06_seed_rooms:
    command: "django-admin seed_rooms --number 100"
  07_seed_amenities:
    command: "django-admin seed_amenities"
  08_seed_facilities:
    command: "django-admin seed_facilities"
  09_seed_reviews:
    command: "django-admin seed_reviews --number 500"
option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: config/wsgi.py
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: config.settings